# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android intermediate build outputs
.cxx/
build/
.gradle/
local.properties
*.iml

# iOS intermediate build outputs
Pods/
DerivedData/
*.xcworkspace

# OS files
.DS_Store
Thumbs.db
